<header>
    <nav class="navbar">
        <div class="logo-container">
            <div class="logo-square">
                <span class="logo-gold">GOLD</span> <span class="logo-fx">FX</span>
            </div>
        </div>
        <ul class="nav-links">
            <li><a href="/">Accueil</a></li>
            <li><a href="/video">Vidéo</a></li>
            <li><a href="/image">Image</a></li>
            <li><a href="/information">Information</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>
